# # This is a basic workflow to help you get started with Actions

# name: Learning Github Actions - 1

# # Controls when the workflow will run
# on:
#   push:
#     branches: ["main", "master"]
#   pull_request:
#     branches: ["main", "master"]

#   # Allows you to run this workflow manually from the Actions tab
#   # Github web sayfasındaki run workflow butonuna basınca çalışır
#   workflow_dispatch:

# # A workflow run is made up of one or more jobs that can run sequentially or in parallel
# # Jobs default olarak  birbirlerine paralel çalışırlar.Her job ayrı VM/container'dır.
# # Needs ile bir işin tamamlanması bekletilebilir.

# # Runner ise workflowların çalıştığı ortamlardır.
# # runs-on ile seçilen ortamda çalıştırılır.

# # Step ise job içinde yürütülebilir en küçük birimdir.
# # Stepler run ve uses olarak ikiye ayrılır.
# # run shell komutu çalıştırırken
# # uses ise ise hazır bir action çalıştırır

# # Actionlar: Tekrar kullanılabilir otomasyon bileşenleridir.
# # Bash script,js action,docker contaiiner olabilir.
# # Actionlar,github marketplace,local repolarda bulunabilir.

# # Strategy ve matrix : Aynı job’u farklı kombinasyonlarla çalıştırmak.
# # matrix:
# #     go-version: [1.21, 1.22]
# #     os: [ubuntu-latest, windows-latest]

# jobs:
#   Job1:
#     name: "Job1"
#     # The type of runner that the job will run on
#     runs-on: ubuntu-latest
#     outputs:
#       output1: ${{ steps.step1.outputs.test }}
#     # Steps represent a sequence of tasks that will be executed as part of the job
#     steps:
#       # Runs a single command using the runners shell
#       - name: step1
#         run: echo "test=Hello Form Github Actions Jobs1." >> "$GITHUB_OUTPUT"

#   Job2:
#     name: "Job2"
#     needs: ["Job1"]
#     runs-on: ubuntu-latest

#     steps:
#       - name: step1
#         env:
#           JOB1_OUTPUT: ${{ jobs.Job1.outputs.output1 }}
#         run: |
#           whoami
#           echo "$JOB1_OUTPUT"

name: Learning Github Actions - 1

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]
  workflow_dispatch:

jobs:
  Job1:
    name: "Job1"
    runs-on: ubuntu-latest

    outputs:
      output1: ${{ steps.Job1-step1.outputs.test }}

    steps:
      - name: step1
        id: Job1-step1
        run: echo "test=Hello From Github Actions Job1." >> "$GITHUB_OUTPUT"

  Job2:
    name: "Job2"
    needs: Job1
    runs-on: ubuntu-latest

    steps:
      - name: step1
        run: |
          whoami
          echo "${{ needs.Job1.outputs.output1 }}"
